@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.Nivel.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new PHC.Default.NivelGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>