@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.PuestoTarea.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new PHC.Default.PuestoTareaGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>